USE [WeatherData]
GO
/****** Object:  Table [dbo].[HumidityReadings]    Script Date: 4/19/2026 10:04:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HumidityReadings](
	[ReadingID] [int] IDENTITY(1,1) NOT NULL,
	[StationID] [nvarchar](10) NULL,
	[Value] [decimal](4, 1) NULL,
	[ReadingType] [nvarchar](200) NULL,
	[ReadingUnit] [nvarchar](20) NULL,
	[ReadingTimestamp] [datetimeoffset](7) NULL,
	[Sessionid] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReadingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RainFallReadings]    Script Date: 4/19/2026 10:04:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RainFallReadings](
	[ReadingID] [int] IDENTITY(1,1) NOT NULL,
	[StationID] [nvarchar](10) NULL,
	[Value] [decimal](4, 1) NULL,
	[ReadingType] [nvarchar](100) NULL,
	[ReadingUnit] [nvarchar](10) NULL,
	[ReadingTimestamp] [datetimeoffset](7) NULL,
	[Sessionid] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReadingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegionalForecasts]    Script Date: 4/19/2026 10:04:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegionalForecasts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MainForecastId] [int] NOT NULL,
	[RegionName] [nvarchar](50) NOT NULL,
	[ForecastCode] [nvarchar](10) NOT NULL,
	[ForecastText] [nvarchar](200) NOT NULL,
	[StartTime] [datetimeoffset](7) NOT NULL,
	[EndTime] [datetimeoffset](7) NOT NULL,
	[TimePeriodText] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscribe]    Script Date: 4/19/2026 10:04:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscribe](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](200) NULL,
	[ForecastCode] [varchar](10) NULL,
	[Humidity] [int] NULL,
	[Temperature] [int] NULL,
	[Active] [bit] NULL,
	[SubscribedDate] [datetime] NULL,
	[UnSubscribedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TemperatureReadings]    Script Date: 4/19/2026 10:04:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TemperatureReadings](
	[ReadingID] [int] IDENTITY(1,1) NOT NULL,
	[StationID] [nvarchar](10) NULL,
	[Value] [decimal](4, 1) NULL,
	[ReadingType] [nvarchar](200) NULL,
	[ReadingUnit] [nvarchar](20) NULL,
	[ReadingTimestamp] [datetimeoffset](7) NULL,
	[Sessionid] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReadingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WeatherForecasts]    Script Date: 4/19/2026 10:04:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WeatherForecasts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ForecastDate] [date] NOT NULL,
	[TempHigh] [int] NOT NULL,
	[TempLow] [int] NOT NULL,
	[TempUnits] [nvarchar](100) NULL,
	[HumidityHigh] [int] NOT NULL,
	[HumidityLow] [int] NOT NULL,
	[HumidityUnits] [nvarchar](100) NULL,
	[Forecastcode] [nvarchar](5) NULL,
	[ForecastText] [nvarchar](200) NULL,
	[validPeriodStart] [datetime] NULL,
	[validPeriodEnd] [datetime] NULL,
	[validPeriodText] [nvarchar](200) NULL,
	[WindSpeedHigh] [int] NOT NULL,
	[WindSpeedLow] [int] NOT NULL,
	[WindDirection] [nvarchar](50) NULL,
	[UpdatedTimestamp] [datetimeoffset](7) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WeatherStations]    Script Date: 4/19/2026 10:04:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WeatherStations](
	[StationID] [nvarchar](10) NOT NULL,
	[StationName] [nvarchar](100) NULL,
	[Latitude] [decimal](9, 6) NULL,
	[Longitude] [decimal](9, 6) NULL,
PRIMARY KEY CLUSTERED 
(
	[StationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WindDirectionReadings]    Script Date: 4/19/2026 10:04:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WindDirectionReadings](
	[ReadingID] [int] IDENTITY(1,1) NOT NULL,
	[StationID] [nvarchar](10) NULL,
	[Value] [decimal](4, 1) NULL,
	[ReadingType] [nvarchar](200) NULL,
	[ReadingUnit] [nvarchar](20) NULL,
	[ReadingTimestamp] [datetimeoffset](7) NULL,
	[Sessionid] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReadingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WindSpeedReadings]    Script Date: 4/19/2026 10:04:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WindSpeedReadings](
	[ReadingID] [int] IDENTITY(1,1) NOT NULL,
	[StationID] [nvarchar](10) NULL,
	[Value] [decimal](4, 1) NULL,
	[ReadingType] [nvarchar](200) NULL,
	[ReadingUnit] [nvarchar](20) NULL,
	[ReadingTimestamp] [datetimeoffset](7) NULL,
	[Sessionid] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReadingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WeatherForecasts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[HumidityReadings]  WITH CHECK ADD  CONSTRAINT [FK_Station_HRT] FOREIGN KEY([StationID])
REFERENCES [dbo].[WeatherStations] ([StationID])
GO
ALTER TABLE [dbo].[HumidityReadings] CHECK CONSTRAINT [FK_Station_HRT]
GO
ALTER TABLE [dbo].[RainFallReadings]  WITH CHECK ADD  CONSTRAINT [FK_Station_RFT] FOREIGN KEY([StationID])
REFERENCES [dbo].[WeatherStations] ([StationID])
GO
ALTER TABLE [dbo].[RainFallReadings] CHECK CONSTRAINT [FK_Station_RFT]
GO
ALTER TABLE [dbo].[RegionalForecasts]  WITH CHECK ADD  CONSTRAINT [FK_Regional_Main] FOREIGN KEY([MainForecastId])
REFERENCES [dbo].[WeatherForecasts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RegionalForecasts] CHECK CONSTRAINT [FK_Regional_Main]
GO
ALTER TABLE [dbo].[TemperatureReadings]  WITH CHECK ADD  CONSTRAINT [FK_Station_TRT] FOREIGN KEY([StationID])
REFERENCES [dbo].[WeatherStations] ([StationID])
GO
ALTER TABLE [dbo].[TemperatureReadings] CHECK CONSTRAINT [FK_Station_TRT]
GO
ALTER TABLE [dbo].[WindDirectionReadings]  WITH CHECK ADD  CONSTRAINT [FK_Station_WDT] FOREIGN KEY([StationID])
REFERENCES [dbo].[WeatherStations] ([StationID])
GO
ALTER TABLE [dbo].[WindDirectionReadings] CHECK CONSTRAINT [FK_Station_WDT]
GO
ALTER TABLE [dbo].[WindSpeedReadings]  WITH CHECK ADD  CONSTRAINT [FK_Station_WST] FOREIGN KEY([StationID])
REFERENCES [dbo].[WeatherStations] ([StationID])
GO
ALTER TABLE [dbo].[WindSpeedReadings] CHECK CONSTRAINT [FK_Station_WST]
GO
